:root {
   --bg: #242526;
   --bg-accent: #484a4d;
   --text-color: #dadce1;
   --nav-size: 40px;
   --border: 1px solid #474a4d;
   --border-radius: 8px;
   --speed: 500ms
}

*{
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: var(--text-color);
   text-decoration: none;
}

.navbar {
   height: var(--nav-size);
   background-color: var(--bg);
   padding: 0 1rem;
   border-bottom: var(--border);
}

.navbar-nav{
   max-width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
}